@model FolderExplorer.Entities.Folder

<h2>Folders Explorer</h2>

<ul>
    @foreach (var catalog in Model.ChildFolders)
    {
        <li>
            <a asp-controller="Folder" asp-action="Index" asp-route-id="@catalog.Id">
                @catalog.Name
            </a>
        </li>
    }
</ul>